@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@theme{
  --color-new-blue-strong:#242d52;
--color-new-gray-text:#9095a7;
--color-secondary-yelloy:#f49601 ;
--color-new-blue-very-dark:#1d1e26;
--color-new-secondary-yellow-soft:#fcbe00 ;
  --font-be-vietnana-pro:"Be Vietnam Pro", sans-serif;
}